<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoDePerfil.png" alt="Foto de perfil" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Diaz Jorge Ezequiel</p>
        <p>Full Stack Developter Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8em col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, animi! Error pariatur esse accusamus
                porro vero sapiente consectetur facere ut assumenda perferendis. Ipsa accusamus veniam, suscipit sit
                esse reprehenderit inventore.</p>
        </span>
    </div>
</div>