<div class="row">
    <div class="container">
        <div class="logo">
            <img id="logoAP" src="../../../assets/APLogo.png" alt="Logo de ArgentinaPrograma" />
        </div>
        <div class="redes">
            <a href=""><img id="facebook" src="../../../assets/facebook.png" alt="Facebook" /></a>
            <a href=""><img id="github" src="../../../assets/github.png" alt="GitHub" /></a>
            <a href=""><img id="instagram" src="../../../assets/instagram.png" alt="Instagram" /></a>
            <a href=""><img id="linkedin" src="../../../assets/linkedin.png" alt="LinkedIn" /></a>
            <a href=""><img id="twitter" src="../../../assets/twitter.png" alt="Twitter" /></a>
            <button type="button" class="btn btn-outline-light">Log In</button>
        </div>
    </div>
</div>